<style>
    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 60px;
    }

    i{
        font-size: 5em;
        color: #009000
    }
</style>
<div>
    <i class="fas fa-check-circle"></i><br>
    <label>PAGO APROBADO</label><br>
    <label>ID de pago: <span>{{ req.collection_id }}</span></label><br>
    <label>Método de pago: <span>{{ req.payment_type }}</span></label><br>
    <label>Referencia externa: <span>{{ req.external_reference }}</span></label><br>
    <label>Estado: <span>{{ req.status }}</span></label><br>
    <label>ID de preferencia: <span>{{ req.preference_id }}</span></label><br>
    <label>ID de order: <span>{{ req.merchant_order_id }}</span></label><br>
    <label>ID de sitio: <span>{{ req.site_id }}</span></label><br><br>
    <a href="/">Volver al sitio</a>
    <label for="">{{ hola }}</label>
</div>
